.btn {
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    background: #334155;
    color: #e2e8f0;
}

.btn:hover {
    opacity: 0.7;
}

.btn-submit {
    background: #22c55e;
    color: #022c22;
}

.btn-icon {
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon img {
    width: 23px;
    height: 23px;
    object-fit: contain;
}