.edit-template-header {
  display: flex;
  align-items: normal;
  gap: 10px;
  padding: 10px 15px;
  justify-content: space-between;
}

.edit-exercise-details-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  text-align: center;
  gap: 10px;
}

.edit-exercise-details-header span {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999;
  font-weight: 500;
}

.edit-exercise-form {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
}

.edit-exercise-form input, .edit-template-name-input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: white;
  font-size: 14px;
  min-width: 0;
}

.edit-exercise-form input[type="number"] {
  text-align: center;
}