.templateFormHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 0 10px;
}

.templateForm {
    margin: 15px auto;
    padding: 24px;
    background: #1e293b;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.exerciseForm {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.exerciseForm input[type="number"] {
    text-align: center;
}

.exerciseRow {
    display: grid;
    grid-template-columns: 7fr 3fr 3fr 3fr 1fr;
    gap: 8px;
    align-items: start;
    width: 100%;
    box-sizing: border-box;
}

.exerciseRow .iconButton {
    align-self: center;
}

.exerciseRow input {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
}

.cell {
    display: flex;
    flex-direction: column;
}

.formErrorMessage {
    height: 14px;
    font-size: 12px;
    margin: 3px 0 0 10px;
    line-height: 14px;
    color:#e41f1f;
}

.deleteCell, .cancelButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.templateForm input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #334155;
    background: #0f172a;
    color: white;
    font-size: 16px;
}

.templateForm input.inputError {
  border: 1px solid red;
}

.numericInput {
    text-align: center;
}

.exerciseContainer {
    gap: 10px;
    padding: 12px;
    background: #0f172a;
    border-radius: 12px;
    border: 1px solid #334155;
    margin: 10px;
}

.exerciseHeader {
    display: grid;
    grid-template-columns: 7fr 3fr 3fr 3fr 1fr;
    gap: 8px;
    align-items: center;
    text-align: center;
}

.exerciseHeader span {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #999;
    font-weight: 500;
}

.formButtons {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}