.new-template-form-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.new-template-form {
  margin: 40px auto;
  padding: 24px;
  background: #1e293b;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.new-exercise-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-exercise-form input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: white;
  font-size: 14px;
  min-width: 0;
}

.new-exercise-form input[type="number"] {
  text-align: center;
}

.exercise-row {
  display: grid;
  grid-template-columns: 7fr 3fr 3fr 3fr 1fr;
  gap: 8px;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
}

.exercise-row .icon-button {
  align-self: center;
}

.exercise-row input {
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  position: relative;
}

.form-error-message {
  height: 14px;
  font-size: 12px;
  margin-top: 4px;
  line-height: 14px;
  color:#e41f1f;
}

.delete-cell, .cancel-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.new-template-form input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #334155;
  background: #0f172a;
  color: white;
  font-size: 16px;
}

.numeric-input {
    text-align: center;
}

.exercise-container {
  gap: 10px;
  padding: 12px;
  background: #0f172a;
  border-radius: 12px;
  border: 1px solid #334155;
  margin: 10px;
}

.exercise-header {
  display: grid;
  grid-template-columns: 7fr 3fr 3fr 3fr 1fr;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.exercise-header span {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999;
  font-weight: 500;
}

.form-buttons {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}