.page {
  max-width: 40%;
  margin: 20px auto;
  padding: 24px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  background-color: #307481;
}

hr {
  border: none;
  height: 2px;
  background-color: #0f172a;;
}

.new-template-btn {
 margin: 15px auto;
  padding: 10px 17px;
  background: #181f18;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: system-ui, sans-serif;
}

@media (max-width: 480px) {
  .new-exercise-form {
    grid-template-columns: 1fr;
  }
  .page {
    max-width: 100%;
  }
}

input:focus {
  outline: none;
  border-color: #22c55e;
  box-shadow: 0 0 0 1px #22c55e;
}

button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

button[type="button"] {
  background: #334155;
  color: #e2e8f0;
}

button[type="button"]:hover {
  background: #475569;
}

button[type="submit"] {
  background: #22c55e;
  color: #022c22;
}

button[type="submit"]:hover {
  background: #16a34a;
}

.template {
  padding: 10px 20px;
  background: #1e293b;
  border-radius: 12px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.template-link,
.template-link:visited,
.template-link:active {
  text-decoration: none;
  color: inherit;
}

.template-link {
  display: block;
}

.template {
  cursor: pointer;
  transition: 0.2s;
}

/* .template:hover {
  transform: scale(1.02);
} */